<div [ngClass]="{'task--done': task.isFinished()}" class="task">
	<div class="task__created-date">Created at: {{task.date_created}}</div>
	<div *ngIf="isReadMode()" class="task__message" (click)="editMode()">{{task.title}}</div>
	<div *ngIf="!isReadMode()" class="task__title-input"><input [(ngModel)]="taskTitle" (keyup.enter)="edit()" type="text" value="{{task.title}}" /></div>
	<div>
	<button [hidden]="task.isFinished()" class="button" (click)="markTaskAsFinished()">Done</button>
	<button class="button" (click)="openDialog()">Remove</button>
	</div>
	<div [hidden]="!task.isFinished()" class="task__done-date">
	Done at: {{task.date_finished}}
	</div>
</div>