<div class="modal-window">
	<h2 mat-dialog-title>{{popupTitle}}</h2>
	<mat-dialog-content>
		<form [formGroup]="myform">
			<mat-form-field class="full-width">
				<input matInput placeholder="Title" formControlName="title">
				<mat-error *ngIf="myform.controls.title.invalid">{{getInvalidTitleMessage()}}</mat-error>
			</mat-form-field>
			<br>
			<mat-form-field class="full-width">
				<input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" placeholder="Due date" (click)="dueDatePicker.open()">
				<mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
				<mat-datepicker #dueDatePicker></mat-datepicker>
			</mat-form-field>
			<br>
			<mat-form-field class="full-width">
				<textarea matInput formControlName="content" rows="8" placeholder="Content"></textarea>
			</mat-form-field>
		</form>	
	</mat-dialog-content>
	<mat-dialog-actions>
		<button *ngIf="!isEditMode; else edit_btn" mat-raised-button color="primary" (click)="add()" [disabled]="!isFormValid()">Add</button>
		<ng-template #edit_btn><button mat-raised-button color="primary" (click)="edit()" [disabled]="!isFormValid()">Edit</button></ng-template>
		<button mat-raised-button color="warn" (click)="close()">Close</button>
	</mat-dialog-actions>
</div>