<h1>MyTodo List</h1>
<div>
  <button (click)="openDialogAddTask()">Add task</button>
</div>
<br>
<div>
  Filters:
  <div>
    Status:
    <select [(ngModel)]="typeTask">
      <option value="all">All</option>
      <option value="inprogress">Not finished</option>
      <option value="finished">Finished</option>
    </select>
  </div>
  <br>
  <div>
    <form [formGroup]="taskFilters">
      <mat-dialog-content>
        <mat-form-field>
            <input matInput [matDatepicker]="dueDatePickerFilter" formControlName="dueDate" placeholder="Due date filter" (click)="dueDatePickerFilter.open()">
            <mat-datepicker-toggle matSuffix [for]="dueDatePickerFilter"></mat-datepicker-toggle>
            <mat-datepicker #dueDatePickerFilter></mat-datepicker>
        </mat-form-field>
      </mat-dialog-content>
      <button (click)="resetDueDateFilter()">Reset</button>
    </form>
  </div>
</div>
<ul class="tasks-list">
  <li *ngFor="let task of tasks.slice().reverse() | filterTask: typeTask | dueDate: taskFilters.controls.dueDate.value">
    <app-task [task]="task" (eventEdit)="editTask($event)" (eventFinished)="markTaskAsFinished($event)" (eventRemove)="removeTask($event)"></app-task>
  </li>
</ul>
